header {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 60px;
  max-height: 100px;
  color: #fff;
}

header h1 {
  margin-left: 10px;
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-top: 80px;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #fff;
}

.container svg {
  align-self: center;
}

.container span {
  display: flex;
  align-items: center;
}

.container svg {
  margin-right: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  max-height: 100px;
  color: #fff;
  font-weight: normal;
}

footer svg {
  margin-bottom: 10px;
}

.ct-grid {
  stroke: #fff;
}

.ct-labels span {
  color: #fff;
}

.chart {
  padding-top: 30px;
}

.ct-series-a .ct-line, .ct-series-a .ct-point {
  stroke: #69D0EF;
}
